{# templates/home/homePage.html.twig #}

{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">
        <a href=" {{ url('blog_list') }}">bloggie</a>
    </div>

{% endblock %}