{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="example-wrapper">

    </div>

    
    <div class="example-wrapper">
        {{ form(form) }}
    </div>

{% endblock %}