{% extends 'layout.html.twig' %}

{% block body %}
    <div class='container'>
        <h2>
        {{ blog.title }}
        </h3>
        
        {{ blog.description | raw }}
        
    </div>
    <div class="container">
        <a href="{{ path('blog_list') }}">back</a>
    </div>
{% endblock %}